name: Test
on: [ push ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install modules
        run: npm ci --ignore-scripts
      - name: ESLint
        run: npm run lint
      - name: TypeScript validity
        run: npm run build
      - name: Run Tests
        run: npm run test
